<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing - Image to Text Converter</title>
     <link rel="stylesheet" href="../static/css/pricing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <!-- Top Bar -->
      <div class="top-bar">
        <div class="container">
            <div class="logo-links">
                <a href="/" class="logo">OCR MAGIC</a>
                
            </div>
            <div class="right-bar">
                 <a href="/pricing" class="pricing-button">
                    <i class="fas fa-tag"></i>
                    Pricing
                </a>
                <a href="#" class="login-button">
                  <i class="fas fa-user"></i>
                   Login
                  </a>
            </div>
        </div>
         <div class="top-banner">
            <div class="container">
                <div class="banner-text">
                    LIFETIME <br>
                    SUBSCRIPTION
                </div>
                <div class="banner-text">
                    1000<br>
                    DAYS
                </div>
                <div class="banner-text">
                    150,000<br>
                    IMAGES
                </div>
                <div class="banner-text banner-price">
                    GET OFFER ONLY IN <span style="font-weight: bolder;">$4.99</span>
                </div>
                <a href="/pricing" class="banner-button">
                    GET NOW
                </a>
            </div>
        </div>
    </div>

    <!-- Pricing Page -->
     <section class="pricing-page dark-theme" id="pricing-page" >
        <div class="container">
            <h1 style="text-align: center; margin-bottom: 2rem; color: white;">Pricing</h1>
              <div class="plan-toggle">
                <label class="switch">
                  <input type="checkbox" id="planSwitch">
                  <span class="slider round"></span>
                </label>
                   <span class="toggle-label" id="toolLabel">Tool Plan</span>
                  <span class="toggle-label" id="apiLabel" style="margin-left: 10px;">API Plan</span>
                </div>
            <div class="pricing-cards">
                <div class="pricing-card">
                    <h3>Weekly Plan</h3>
                    <p class="sub-text">Weekly Web Plan</p>
                    <p class="price"><span>$3.5</span> / Weekly</p>
                    <ul>
                        <li><i class="fas fa-check"></i> Validity 7 days</li>
                        <li><i class="fas fa-check"></i> <strong>50</strong> images per submission</li>
                        <li><i class="fas fa-check"></i> <strong>3,000</strong> Images</li>
                        <li><i class="fas fa-check"></i> No Daily Limit</li>
                        <li><i class="fas fa-check"></i> Image Size Upto <strong>10 MB</strong></li>
                        <li><i class="fas fa-check"></i> <strong>3X</strong> Faster Conversion</li>
                        <li><i class="fas fa-check"></i> No Ads</li>
                    </ul>
                    <button class="unlock-btn">Unlock Premium</button>
                </div>
                <div class="pricing-card">
                    <h3>Monthly</h3>
                    <p class="sub-text">Monthly Plan</p>
                    <p class="price"><span>$7</span> / Monthly</p>
                    <ul>
                        <li><i class="fas fa-check"></i> Validity 30 days</li>
                        <li><i class="fas fa-check"></i> <strong>50</strong> images per submission</li>
                        <li><i class="fas fa-check"></i> <strong>10,000</strong> Images</li>
                        <li><i class="fas fa-check"></i> No Daily Limit</li>
                        <li><i class="fas fa-check"></i> Image Size Upto <strong>10 MB</strong></li>
                        <li><i class="fas fa-check"></i> <strong>3X</strong> Faster Conversion</li>
                        <li><i class="fas fa-check"></i> No Ads</li>
                    </ul>
                    <button class="unlock-btn">Unlock Premium</button>
                </div>
                <div class="pricing-card best-value">
                    <h3>Yearly Plan</h3>
                     <p class="sub-text">Best Value</p>
                    <p class="price"><span>$49.88</span> / Yearly</p>
                    <ul>
                        <li><i class="fas fa-check"></i> Validity 365 days</li>
                        <li><i class="fas fa-check"></i> <strong>50</strong> images per submission</li>
                        <li><i class="fas fa-check"></i> <strong>120,000</strong> Images</li>
                        <li><i class="fas fa-check"></i> No Daily Limit</li>
                        <li><i class="fas fa-check"></i> Image Size Upto <strong>10 MB</strong></li>
                        <li><i class="fas fa-check"></i> <strong>3X</strong> Faster Conversion</li>
                         <li><i class="fas fa-check"></i> No Ads</li>
                    </ul>
                    <button class="unlock-btn">Unlock Premium</button>
                </div>
            </div>
           <div class="api-pricing-cards" style="display:none;">
                    <div class="pricing-card">
                        <h3>API Weekly Plan</h3>
                        <p class="sub-text">Weekly API Plan</p>
                         <p class="price"><span>$5</span> / Weekly</p>
                        <ul>
                            <li><i class="fas fa-check"></i> Validity 7 days</li>
                            <li><i class="fas fa-check"></i> <strong>2000</strong> requests</li>
                            <li><i class="fas fa-check"></i> No Daily Limit</li>
                            <li><i class="fas fa-check"></i> <strong>3X</strong> Faster Conversion</li>
                             <li><i class="fas fa-check"></i> No Ads</li>
                         </ul>
                        <button class="unlock-btn">Unlock Premium</button>
                    </div>
                    <div class="pricing-card">
                        <h3>API Monthly</h3>
                         <p class="sub-text">Monthly API Plan</p>
                         <p class="price"><span>$15</span> / Monthly</p>
                        <ul>
                            <li><i class="fas fa-check"></i> Validity 30 days</li>
                           <li><i class="fas fa-check"></i> <strong>10000</strong> requests</li>
                            <li><i class="fas fa-check"></i> No Daily Limit</li>
                            <li><i class="fas fa-check"></i> <strong>3X</strong> Faster Conversion</li>
                             <li><i class="fas fa-check"></i> No Ads</li>
                        </ul>
                        <button class="unlock-btn">Unlock Premium</button>
                    </div>
                    <div class="pricing-card best-value">
                        <h3>API Yearly Plan</h3>
                         <p class="sub-text">Best API Value</p>
                           <p class="price"><span>$100</span> / Yearly</p>
                        <ul>
                            <li><i class="fas fa-check"></i> Validity 365 days</li>
                            <li><i class="fas fa-check"></i> <strong>50000</strong> requests</li>
                            <li><i class="fas fa-check"></i> No Daily Limit</li>
                            <li><i class="fas fa-check"></i> <strong>3X</strong> Faster Conversion</li>
                             <li><i class="fas fa-check"></i> No Ads</li>
                         </ul>
                        <button class="unlock-btn">Unlock Premium</button>
                    </div>
            </div>
        </div>
    </section>
        <!-- JavaScript -->
        <script src="../static/js/script.js"></script>
</body>
</html>